
*{
  margin: 0;
  padding:0;
}
body {
    background-color: cornsilk;
  }
  img{
    width: 600px;
    height: 400px;
  }
  h1{
    color:rgb(73, 50, 205);
  }
  h2{
    color:rgb(19, 0, 128);
  }
  .btn{
    background-color: beige;
    text-decoration: none;
    color: rgb(2, 0, 100);
  }

  #menu{
      display: flex;
      margin: 10px;
      padding: 10px;
      border: solid rgb(255, 145, 0);
  }
  #menu ul{
     
    margin: 10px;
    padding: 10px;
}
#menu h3{
   
    margin: 10px;
    padding: 10px;
}

#list h5 {
     
    margin: 5px;
}
#list {
    border:solid chartreuse;
}

form{
  margin: 30px;
}
input{
  margin :10px;
}
input {
  margin :10px;
}
button{
  margin:10px,
  
}
#delete-btn{
  background-color: brown;
  color:white
}

.delete-btn{
  background-color:tomato;
  color: white
}

#like-btn{
  background-color: rgb(27, 136, 45);
  color:white
}

#dislike-btn{
  background-color: tomato;
  color: white;
}

span{
  margin: 5px;
}

.new-restaurant-btn,button {
  background-color: rgb(0, 128, 64);
  color: white;
}
.new-restaurant-btn,button h2{
 text-decoration-line: none;
  color: white;
}

.maindiv{
  margin:0 300px
 
}
h1{
  margin :15px 0;
  text-align: center;
}
h2{
  margin :15px 0;
  text-align: center;
}
#oneRestaurant{
  margin:0 300px
}
#all-btns{
  margin:15px 300px
}
#form-div{
  margin:0 300px;
  border:solid red
}
#back-div{
  margin:0 30px
}